.search__sidbar input.input_text[type="text"] {
    background: #f8f9fa none repeat scroll 0 0;
}

@font-face{
	src:url("../fonts/RIDIBatang.otf");
	font-family: "ridi"
	
	} 
	
 .ui-autocomplete {
                       font-family: 'ridi';     
                   }   



